<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="http://oss.maxcdn.com/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div id="main_content" class="signup">
            <h1>Sign Up</h1>
            <form action="/signup" method="post">
                <div class="form error-cell">
                    <div class="error-msg">

                    </div>
                </div>
                <div class="form">
                    <input type="text" name="name" placeholder="Username" class="textfield">
                </div>
                <div class="form">
                    <input type="password" name="pwd" placeholder="Password" class="textfield">
                </div>
                <div class="form">
                    <input type="password" name="rpwd" placeholder="Repeat your password" class="textfield">
                </div>
                <div class="form">
                    <input type="text" name="sid" placeholder="Student ID" class="textfield">
                </div>
                <div class="form">
                    <input type="text" name="tel" placeholder="Telphone number" class="textfield">
                </div>
                <div class="form">
                    <input type="text" name="email" placeholder="E-mail address" class="textfield">
                </div>
                <div class="form">
                    <input id="reset" type="reset" name="reset" value="Reset" class="button">
                    <input id="submit" disabled="disabled" type="submit" name="submit" value="Sign Up" class="button">
                    <a href="/signin" class="jump">Sign In</a>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="/javascripts/signup.js"></script>
        <script type="text/javascript" src="/javascripts/validator.js"></script>
    </body>
</html>