<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="http://oss.maxcdn.com/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>     
        <div id="main_content" class="signin">
            <h1>Sign In</h1>
            <form action="/signin" method="post">
                <div class="error-cell">

                </div>
                <div class="form">
                    <input type="text" name="name" placeholder="Username" class="textfield">
                </div>
                <div class="form">
                    <input type="password" name="pwd" placeholder="Password" class="textfield">
                </div>
                <div class="form">
                    <input id="submit" type="submit" name="submit" value="Sign In" class="button">
                    <a href="/signup" class="jump">Sign Up</a>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="/javascripts/signin.js"></script>
    </body>
</html>