doctype html 
html 
    head
        title Detail
        link(rel='stylesheet' href='style.css')
    
    body 
      h1 User Detail 

      p UserName 
        span #{username}

      p Student ID 
        span #{sid}

      p Phone Number 
        span #{phone}

      p Email 
        span #{email}
