
#bottom-positioner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.button {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
}

#info-bar {
    background-color: #666666;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 9%;
    opacity: 0; 
    transition: all 1s 250ms;
    overflow: hidden;
}

#button:hover #info-bar{
    background-color: #666666;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 45.5%;
    bottom: 30%;
    opacity: 1; 
}

ul {
    list-style-type: none;
}

.user {
    position: absolute;
    top:15px;
  
}
.user span {
    display: inline-block;
    margin-left: 10px;   
    color: white;
    transition: all 1s 250ms;
    font-size: 25px;    
    opacity: 0;
}

#button:hover .user span {
    opacity: 1;
}

.comment {
    position: absolute;
    top: 50px;
    left: 30px;
}
.comment span {
    display: inline-block;
    margin-left: 10px;
    font-size: 0px;
    color: white;
    transition: all 1s 250ms;
    font-size: 35px;
    opacity: 0;
}

#button:hover .comment span {
    margin-left: 20px;
    opacity: 1;
}

.mine span{ 
    position: absolute;
    display: inline-block;
    margin-left: 5px;
    color: #079e6e;
    font-size: 15pt;
    font-weight: bold;
    bottom: 7px;
    opacity: 0;
}
.posted {
    position: absolute;
    top:100px;
    left: 30px;
}
.like {
    position: absolute;
    top: 100px;
    left:80px;
}

#button:hover .mine span {
    opacity: 1;
}

.mask {
    background: url(https://s2.ax1x.com/2019/10/03/uw5CTO.png/nomask.png) no-repeat 50% 50% #666666;
    left: 50%;
    bottom: 20%;
    opacity: 0;
    transition: all 1s 250ms;
    background-size: 0%;
}
#button:hover .mask {
    background: url(https://s2.ax1x.com/2019/10/03/uw5CTO.png) no-repeat 50% 50% #666666;
    background-size: 50%;
    left: 44%;
    bottom: 26%;
    opacity: 1;
}

.history {
    background: url(https://s2.ax1x.com/2019/10/05/us0RGq.png) no-repeat 50% 50% #666666;
    left: 50%;
    bottom: 9%;
    opacity: 0;
    transition: all 1s 250ms;
    background-size: 0%;
}
#button:hover .history {
    background: url(https://s2.ax1x.com/2019/10/05/us0RGq.png) no-repeat 50% 50% #666666;
    background-size: 50%;
    left: 43%;
    bottom: 19%;
    opacity: 1;
}

.message {
    background: url(https://s2.ax1x.com/2019/10/05/us07dJ.png) no-repeat 50% 50% #666666;
    left: 50%;
    bottom: 9%;
    opacity: 0;
    transition: all 1s 250ms;
    background-size: 0%;
}
#button:hover .message {
    background: url(https://s2.ax1x.com/2019/10/05/us07dJ.png) no-repeat 50% 50% #666666;
    background-size: 50%;
    left: 44%;
    bottom: 11%;
    opacity: 1;
}

.unread {
    display: inline-block;
    position: absolute;
    left:24px;
    bottom: 20px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: all 1s 250ms;
    color: white;
}

.setting {
    background: url(https://s2.ax1x.com/2019/10/05/us0ORx.png) no-repeat 50% 50% #666666;
    left: 50%;
    bottom: 9%;
    opacity: 0;
    transition: all 1s 250ms;
    background-size: 0%;
}
#button:hover .setting {
    background: url(https://s2.ax1x.com/2019/10/05/us0ORx.png) no-repeat 50% 50% #666666;
    background-size: 50%;
    left: 47.5%;
    bottom: 5%;
    opacity: 1;
}
.sign {
    background: url(https://s2.ax1x.com/2019/10/03/uw5Epd.png) no-repeat 50% 50% #666666;
    left: 50%;
    bottom: 9%;
    opacity: 0;
    transition: all 1s 250ms;
    background-size: 0%;
}
#button:hover .sign {
    background: url(https://s2.ax1x.com/2019/10/03/uw5Epd.png) no-repeat 50% 50% #666666;
    background-size: 50%;
    left: 52%;
    bottom: 5%;
    opacity: 1;
}
.apb {
    position: absolute;
    background: url(https://s2.ax1x.com/2019/10/03/uw4vlR.png) no-repeat 50% 50% rgb(150, 150, 209);
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    left:50%;
    bottom: 17%;
}
#button:hover .apb{
    background: url(https://s2.ax1x.com/2019/10/03/uw4jp9.png) no-repeat 50% 50% rgba(48, 63, 159, 1);
    background-size: 70%;
    transform: scale(1.5);
}

