body{
    background: url(bg.jpg) no-repeat;
    background-size :cover;
}

#calculator{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(177, 172, 172);
    opacity: 0.7;
    width: 300px;
    height: 350px;
}

.display{
    width: 250px;
    height: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: left;
    background-color: rgb(177, 172, 172);
    opacity: 0.8;
}

.numberKey{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;;
    border: solid 2px wheat;
    background-color: rgb(204, 186, 146);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.numberKey:hover{
    background-color: rgb(228, 207, 163);
}

